<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PartidoDBConfig"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Partidos;Integrated Security=True;" />
	</connectionStrings>
</configuration>